<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>fitocracy-map-tracker</title>
<style>
#mapDiv {
  width:500px;
  height:300px;
  border:1px solid #efefef;
  margin:auto;
  -moz-box-shadow:5px 5px 10px #000;
  -webkit-box-shadow:5px 5px 10px #000;
}
#content {
  text-align:center; 
  width:500px; 
  height:40px;
  border:1px solid #efefef;
  margin:auto;
  -moz-box-shadow:5px 5px 10px #000;
  -webkit-box-shadow:5px 5px 10px #000;
}
</style>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAkpk2uhRupHKRD_MAJi1RyZBdyw08sOw0&libraries=places&sensor=true"></script>
<script type="text/javascript" src="{{ url_for('static', filename='debugging.js') }}"></script>
<script type="text/javascript">
//<![CDATA[
  mapDiv = document.getElementById('mapDiv');
  if(navigator.geolocation) {
    function hasPosition(position) {
      var point = new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                  myOptions = {
                    zoom: 15,
                    center: point,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  }, 
                  mapDiv = document.getElementById('mapDiv'),
                  map = new google.maps.Map(mapDiv, myOptions), 
                  marker = new google.maps.Marker({ 
                            position: point, 
                            map: map, 
                            title: 'You are here' 
                  });
    }
    function hasNoPosition(e) {
      switch (e.code) {
        case 1:  
          mapDiv.innerHTML += 'Geolocation problem: (permission denied)<br />\n';
          if (e.message) { mapDiv.innerHTML += e.message }  
          break;
        case 2:  
          mapDiv.innerHTML += 'Geolocation problem: (position unavailable)<br />\n';
          if (e.message) { mapDiv.innerHTML += e.message }  
          break;
        case 3:  
          mapDiv.innerHTML += 'Geolocation problem: (timeout)<br />\n';
          if (e.message) { mapDiv.innerHTML += e.message }  
          break;
        default:
          mapDiv.innerHTML += 'Unknown Geolocation problem<br />\n';
          mapDiv.innerHTML += inspect(e); //debugging
      }
    }
    navigator.geolocation.getCurrentPosition(hasPosition, hasNoPosition, 
      {maximumAge:4000, timeout:2000, enableHighAccuracy:false}
    );
  } 
  mapDiv.innerHTML += 'Your browser doesn\'t support Geolocation!<br />\n';
//]]>
</script>
</head>
<body>
{% if msg %}
  <h3>{{ msg }}</h3>
  <a href="#" onclick="history.go(-1);return false;">BACK</a> 
{% else %}
  <div id="content">
    <p>{{ username }} is going {{ task }}</p> 
  </div> 
  <br />
  <div id="mapDiv">
  <!-- google map goes here --> 
  {#
    # display mini screenshots of each step of the fitocracy.com navigation
    # process (eg: click login, click login-with-username, etc...) alongside 
    # the text description of each step during the AJAX login process

    # display 'pause, end, restart' buttons 
    
    # display path + pace/speed continually (geolocation.watchPosition()) 
    # if task paused, drop pin, if task unpaused more than 100 ft
    # from pause location, force starting new task or only unpause once
    # back within 100 ft range of paused-pin. 

    # if task ended/restarted, display time/distance/speed to user and
    # upload task to fitocracy.com after user confirms (allow user notes?)
  #}
  </div> 
{% endif %}
</body>
</html>
