<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>fitocracy-map-tracker</title>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAkpk2uhRupHKRD_MAJi1RyZBdyw08sOw0&libraries=places&sensor=true"></script>
<script>
  /* add checks to see if geolocation supported/disabled/fails [[toDo]] */
  if(navigator.geolocation) {
    function hasPosition(position) {
      var point = new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                  myOptions = {
                    zoom: 15,
                    center: point,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  }, 
                  mapDiv = document.getElementById("mapDiv"),
                  map = new google.maps.Map(mapDiv, myOptions), 
                  marker = new google.maps.Marker({ 
                            position: point, 
                            map: map, 
                            title: "You are here" 
                  });
    }
    navigator.geolocation.getCurrentPosition(hasPosition);
  } 
</script>
<style>
#mapDiv {
  width:500px;
  height:300px;
  border:1px solid #efefef;
  margin:auto;
  -moz-box-shadow:5px 5px 10px #000;
  -webkit-box-shadow:5px 5px 10px #000;
}
#content {
  text-align:center; 
  width:500px; 
  height:40px;
  border:1px solid #efefef;
  margin:auto;
  -moz-box-shadow:5px 5px 10px #000;
  -webkit-box-shadow:5px 5px 10px #000;
}
</style>
</head>
<body>
{% if msg %}
  <h3>{{ msg }}</h3>
  <a href="#" onclick="history.go(-1);return false;">BACK</a> 
{% else %}
  <div id="content">
    <p>{{ username }} is going {{ task }}</p> 
  </div> 
  <br />
  <div id="mapDiv">
  <!-- google map goes here --> 
  {#
    # display 'pause, end, restart' buttons in bottom 5% of screen
    # display path + pace/speed continually (longpoll or eventsource?) 
    # if task paused, drop pin, if task unpaused more than 100 ft
    # from pause location, force starting new task or only unpause once
    # back within 100 ft range of paused-pin. 
    # if task ended/restarted, display time/distance/speed to user and
    # upload task to fitocracy.com after user confirms (allow user notes?)
  #}
  </div> 
{% endif %}
</body>
</html>
